.flexer {
  display: flex;
  align-items: center;
  justify-content: center;

}

.post-container { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}

.post-item { 
  background-color: white;
  color: #444444;
  padding: 10px;
  margin-top: 10px;
  border: solid 1px dodgerblue;
  box-shadow: 5px 5px 5px lightgray;
}

.test-border { 
  border: solid 1px red;
}