* {
  transition: all 0.5 ease;
}

.flexer {
  display: flex;
  align-items: center;
  justify-content: center;

}

.post-container { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}

.post-item { 
  background-color: white;
  cursor: pointer;
  color: #444444;
  padding: 10px;
  transition: transform 1s;
  margin-top: 10px;
  border: solid 1px dodgerblue;
  box-shadow: 5px 5px 5px lightgray;
}

.post-item:hover { 
  transform: scale(1.05);
}

.test-border { 
  border: solid 1px red;
}